#root{
  height:100vh;
  width:100vw;

}

body {


}

.main-wrapper{
  height:100%;
  width:100%;
  background-color:aqua;
  display: grid;

  grid-template-columns:
  [col-start] 1fr
  [col-2] 1fr
  [col-3] 1fr
  [col-4] 1fr
  [col-5] 1fr
  [col-6] 1fr
  [col-7] 1fr
  [col-8] 1fr
  [col-9] 1fr
  [col-10] 1fr
  [col-11] 1fr
  [col-12] 1fr
  [col-end];

  grid-template-rows: 
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr;

  grid-template-areas: 
  "nmb nmb . . . . . . . . . ."
  "nmb nmb . . . . . . . qb qb qb"
  "nmb nmb . . . . . . . qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  ;

}

.navmenu-background{
  background-color:grey;
  grid-area:nmb;
  height:100%;
  width:100%;
}

.scroll-group{
  background-color: blue;
  grid-area:sg;
}

.question-board{
  background-color:red;
  grid-area:qb;
}


