#root{
  height:100vh;
  width:100vw;

}

body {


}

.main-wrapper{
  height:100%;
  width:100%;
  background-color:aqua;
  display: grid;

  grid-template-columns:
  [col-start] 1fr
  [col-2] 1fr
  [col-3] 1fr
  [col-4] 1fr
  [col-5] 1fr
  [col-6] 1fr
  [col-7] 1fr
  [col-8] 1fr
  [col-9] 1fr
  [col-10] 1fr
  [col-11] 1fr
  [col-12] 1fr
  [col-end];

  grid-template-rows: 
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr;

  grid-template-areas: 
  "nmb nmb . . . . . . . . . ."
  "nmb nmb . stg stg stg stg stg stg qb qb qb"
  "nmb nmb . stg stg stg stg stg stg qb qb qb"
  "nmb nmb . stg stg stg stg stg stg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  "nmb nmb . sg sg sg sg sg sg qb qb qb"
  ;

}






                                /* SIDE MENU */

.navmenu-background{
  background-color:grey;
  grid-area:nmb;
  height:100%;
  width:100%;
  display: grid;
  grid-template-columns:
  [col-start] 1fr
  [col-end];

  grid-template-rows: 
  3fr
  1fr
  1fr
  1fr
  1fr
  1fr
  3fr;

  grid-template-areas: 
  "wb"
  "tb"
  "ib"
  "nb"
  "mb"
  "sb"
  "."
  ;

}

.welcome-block{
  width:100%;
  height:100%;
  background-color:purple;
  grid-area:wb;
}

.task-button{
  width:100%;
  height:100%;
  background-color:bisque;
  grid-area:tb
}

.inbox-button{
  width:100%;
  height:100%;
  background-color:bisque;
  grid-area:ib
}

.notif-button{
  width:100%;
  height:100%;
  background-color:bisque;
  grid-area:nb
}

.marks-button{
  width:100%;
  height:100%;
  background-color:bisque;
  grid-area:mb
}

.settings-button{
  width:100%;
  height:100%;
  background-color:bisque;
  grid-area:sb
}

h4{
  font:18px Myriad pro;
}

.scroll-group{
  background-color: blue;
  grid-area:sg;
}

.question-board{
  background-color:red;
  grid-area:qb;
}

.status-group{
  background-color: green;
  grid-area:stg;
  display:grid;
  grid-template-columns:
  [col-start] 1fr
  [col-2] 2fr
  [col-end];

  grid-template-rows: 
  1fr
  1fr;

  grid-template-areas: 
  "db pw"
  "db nw"
  ;
}

.date-block{
  background-color:black;
  height: 100%;
  width: 100%;
  grid-area:db;
  display:flex;
  flex-direction:column;
}

h1{
color:white;
text-align:center;
font-size:95px;
margin:0px;
margin-bottom:auto;
}

h3{
  color:white;
  text-align:center;
  font-size:65px;
  margin:0px;
  margin-top:auto;
}

.status-right-wrapper{
  background-color:lightgray;
}

.progress-wrapper{
  grid-area:pw;
}

.notices-wrapper{
  grid-area:nw
}



